# Виртуальное окружение и кэши
.venv/
**/__pycache__/
*.pyc

# Git
.git/
.gitignore

# Локальные секреты и логи
.env
*.txt

# Документация и заметки (в образ не нужны)
*.md
task*.md

# Прочее
.idea/
.vscode/
